.photo-img {
  float: right; /* Обтекание справа */
  margin: 0 0 15px 15px; /* Отступы: сверху, справа, снизу, слева */
  max-width: 300px; /* Максимальная ширина */
  height: auto; /* Автоматическая высота */
  border: 1px solid #ddd; /* Рамка */
  border-radius: 4px; /* Закруглённые углы */
        }
        
        /* Очистка обтекания после последнего абзаца */


.about-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.05rem;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  text-align: justify;
  
}
.about-container::after {
  content: "";
  display: table;
  clear: both;
}
.photo-img {
    float: left;
    margin: 0 15px 15px 0;
}

.about-container strong{
  color: #3F4A8A;
}
.about-container h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
  color: #3F4A8A;
}

.about-container h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #3F4A8A;
}

.about-container p {
  margin-bottom: 20px;
}

.about-container ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 30px;
  color: #333;
}

.about-container ul li {
  margin-bottom: 6px;
}

.about-container ul li::marker {
  color: #D79A4A;       /* бирюзовый цвет */
  font-weight: bold;
  font-size: 1.5em;     /* увеличить размер маркера на 20% */
}

.center_text {
    display: inline-block;
    padding: 10px 20px;
    background: #3F4A8A;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    transition: background 0.3s;
}

.center_text:hover {
    background: #D79A4A;
}
.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.schedule-table th {
  background-color: #f2f2f2;
  color: #3F4A8A;
  font-weight: 600;
}

.schedule-table tr:nth-child(even) {
  background-color: #fafafa;
}

.schedule-table tr:hover {
  background-color: #f1f1f1;
}