{% extends 'main/layout.html' %} 
{% load static %}


{% block title %}Кабинет функциональной диагностики{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'main/css/about.css' %}">

  <div class="about-container">
    <h1>Кабинет функциональной диагностики</h1>
    <p>УЗ «Воложинская ЦРБ» располагает двумя оборудованными кабинетами функциональной диагностики: № 308 и № 309.</p>
    <p>Сердечно-сосудистые заболевания являются самой распространенной причиной смерти людей. Сократить смертность позволяют современные методы диагностики различных патологий (ЭКГ, спирометрия, велоэргометрия, СМАД, ХМ-ЭКГ, ЭхоКГ).</p>
    <p><strong>Внимание!</strong></p>
    <p>Все вышеперечисленные методы диагностики проводятся по направлению. Направление можно получить у лечащего врача или у помощника врача в доврачебном кабинете №103.</p>
    <p>Время работы с 8.00 до 18.42.</p>
    <h2>Что показывает ЭКГ?</h2>
    <ul>
      <li>частоту сердечных сокращений;</li>
      <li>ритм сердечных сокращений;</li>
      <li>положение электрической оси сердца;</li>
      <li>размеры и расположение сердца;</li>
      <li>состояние сердца.</li>
    </ul>
    <h2>При наличии патологий электрокардиография может выявить:</h2>
    <ul>
      <li>аритмию;</li>
      <li>блокаду;</li>
      <li>инфаркт миокарда;</li>
      <li>ишемические изменения;</li>
      <li>дистрофические процессы;</li>
      <li>электролитные нарушения;</li>
      <li>синдром Вольфа–Паркинсона–Уайта;</li>
      <li>гипертрофию желудочков;</li>
      <li>другие патологические процессы в сердце.</li>
    </ul>
    <h2>Когда нужно делать ЭКГ?</h2>
    <ul>
      <li>Направления терапевта или другого врача;</li>
      <li>В профилактических целях 1 раз в год после 40 лет;</li>
      <li>Боли в грудной клетке или под лопаткой;</li>
      <li>Затруднённое дыхание;</li>
      <li>Отёк конечностей и лица;</li>
      <li>Отдышка в состояния покоя;</li>
      <li>Повышенное артериальное давление;</li>
      <li>Хронические заболевания опорно-двигательного аппарата.</li>
    </ul>
    <p>В УЗ «Воложинская ЦРБ» можно пройти ЭКГ, УЗИ сердца и получить консультацию врач-кардиолога.</p>
    <p>Спирометрия - это метод регистрации изменения легочных объемом при выполнении дыхательных маневров.</p>
    <p>Спирометрические данные нередко коррелируют с заболеваемостью и ожидаемой продолжительностью жизни, помогают определить индивидуальные показатели здоровья пациента, выявить причину заболевания, его тяжесть и эффективность терапии. Результаты тестов спирометрии помогают оценить качество жизни пациентов, а также определить схему дальнейшего лечения.</p>
    <h2>Показания для спирометрии:</h2>
    <ul>
      <li>Жалобы пациента на одышку, кашель, боль в грудной клетке. Данные объективного исследования: ослабление дыхания,  затруднение выдоха, цианоз, деформация грудной клетки.</p>
    <p>Изменения на рентгеновских снимках;</li>
      <li>Изменения на рентгеновских снимках;</li>
      <li>Выявление обратимости обструкции и определение эффективности курса терапии бронходилататорами;</li>
      <li>Оценка эффективности лечения при астме, хронической обструктивной болезни легких;</li>
      <li>Ведение застойной сердечной недостаточности;</li>
      <li>Пациенты с риском развития легочных заболеваний: курильщики, работа которых связана с воздействием вредных веществ;</li>
      <li>Наблюдение за лицами, профессиональная деятельность которых связана с повреждающими агентами;</li>
      <li>Экспертиза трудоспособности;</li>
      <li>Прежде всего спирометрическое исследование должно проводиться у пациентов, предъявляющих жалобы со стороны системы органов дыхания или при выявлений изменений  в легких на рентгеновских снимках, нарушениях газового состава крови, полицитемии.</li>
    </ul>
    <h2>Общие рекомендации:</h2>
    <p>1.Пациент должен быть правильно подготовлен, должны быть учтены все индивидуальные особенности;</p>
    <p>2.Должны быть записаны возраст, рост и вес;</p>
    <p>3.Пациент должен записать тип и дозу ингаляционного препарата, которым воспользовался в последний раз;</p>
    <p>4.В идеале пациент должен избегать:</p>
    <ul>
      <li>курения в течение 24частов до теста</li>
      <li>употребления алкоголя</li>
      <li>обильной еды, по крайней мере за 2 часа до проведения исследования</li>
      <li>использования ингаляторов короткого действия, не менее чем за 4 часа до теста.</li>
    </ul>
    <p>Эхокардиография (ЭхоКГ) позволяет оценить структуру сердца и его функциональное состояние в режиме реального времени.</p>
    <p>Показания к плановой трансторакальной эхокардиографии:</p>
    <ul>
      <li>артериальная гипертензия;</li>
      <li>ИБС ( инфаркт миокарда, стенокардия напряжения, кардиомиопатии);</li>
      <li>болезни перикарда;</li>
      <li>болезни аорты (расширение корня аорты, расслаивающая аневризма аорты);</li>
      <li>тромбозы и опухоли сердца;</li>
      <li>ранее диагностированный врожденный или приобретенный порок сердца;</li>
      <li>наследственные заболевания  в семейном анамнезе;</li>
      <li>аритмии, особенно желудочковые, тахикардии;</li>
      <li>наличие шумов сердца неясной этиологии при аускультации;</li>
      <li>наличие клинических признаков ишемической болезни сердца ( одышка, отеки нижних конечностей);</li>
      <li>динамическое  наблюдение за течением заболеваний сердечно-сосудистой системы и ходом эффективностью лечения;</li>
      <li>пациенты после протезирования клапанов сердца.</li>
    </ul>
    <p>Для проведения динамической нагрузки чаще всего используют велоэргометры и тредмилы.</p>
    <p>Велоэргометр представляет собой стационарный велосипед, имеющий приспособление (электронное или механическое) для дозирования нагрузки в единицах мощности. Все велоэргометры тарированы таким образом, что задаваемая мощность точно обеспечивается при режиме педалирования 60 об/мин.</p>
    <p>Во время велоэргометрии оценивают ЭКГ в «режиме реального времени», артериальное давление и пульс.</p>
    <p>Конечный результат исследования оценивают по достижению определённой ЧСС в зависимости от пола и возраста пациента, изменений на ЭКГ.</p>
    <p>Суточное мониторирование артериального давления (СМАД)</p>
    <p>Длительное мониторирование АД в условиях обычной жизнедеятельности человека открывает дополнительные диагностические и лечебные возможности, позволяя получить гораздо более объективные результаты измерений в сравнении с традиционным.</p>
    <h2>Показания:</h2>
    <ul>
      <li>стойкое повышение артериального давления более 140/90 мм рт ст.</li>
      <li>синкопальные состояния (обмороки)</li>
      <li>Подозрение на эпизоды снижения артериального давления, особенно у пожилых</li>
      <li>кратковременные, трудно поддающиеся регистрации при случайных измерениях, колебания артериального давления;</li>
      <li>разница в цифрах АД у пациентов при обращении во время одного, так и нескольких визитах к врачу</li>
      <li>разница в цифрах АД при измерении в клинике и в домашних условиях</li>
      <li>обследование лиц молодого возраста, имеющих неблагоприятную наследственность, например повышение артериального давления у родителей</li>
      <li>повышенный уровень артериального давления у беременных и подозрение на преэклампсию</li>
      <li>контроль эффективности и безопасности лечения, у пациентов принимающих гипотензивную терапию</li>
    </ul>
    <h2>Методика проведения СМАД</h2>
    <p>Прибор измеряет Ваше артериальное давление, надувая надетую на плечо манжету и затем, постепенно спускает из неё воздух, так же как Вам измеряет врач. Измерения происходят автоматически через определённый интервал времени. Днём это 15 минут или 30 минут, ночью 30 минут или 60 минут.</p>
    <h2>Важно соблюдать следующие рекомендации:</h2>
    <p>Следите за положением манжеты. Нижний край манжеты должет быть выше локтевого сгиба на 1-2 пальца. Если манжета соскользнула вниз на локоть, расстегнулась или перекрутилась и надувается «пузырем» с одной стороны, то поправьте ее. Если Вы не сделаете этого, прибор будет проводить не точные измерения или вообще не будет их выполнять.</p>
    <p>Услышав звуковой сигнал, предупреждающий о начале очередного измерения или почувствовав, что манжета на Вашей руке начала надуваться, остановитесь, если Вы идете, и пока прибор накачивает воздух, держите руку с манжетой, полностью расслабленной и неподвижной до самого конца измерения.</p>
    <p>Следите за тем, чтобы трубка, соединяющая монитор с манжетой, не пережималась. Если Вы заметите, что компрессор монитора работает, а манжета не надувается, проверьте, не отсоединилась ли трубка от монитора иди манжеты.</p>
    <p><strong>В течение суток заполняйте, пожалуйста дневник пациента!!!</strong></p>
    <p>Холтеровское мониторирование (ХМ-ЭКГ) - непрерывная запись ЭКГ в течение 24-48 часов и более в период свободной активности пациента.</p>
    <p>Показания:</p>
    <ul>
      <li>необъяснимый обморок (синкопе), пресинкопе или эпизоды головокружения неясной причины;</li>
      <li>повторяющиеся приступообразные эпизоды учащённого сердцебиения;</li>
      <li>эпизоды внезапной одышки, боли в грудной клетке или слабость неясной причины;</li>
      <li>пациенты с кратковременной неврологической симптоматикой, причиной которой могут быть различные нарушения ритма и проводимости, например пароксизмы фибрилляций предсердий и другие;</li>
      <li>пациенты с эпизодами слабости или сердцебиениями, которые сохраняются на фоне лечения ранее выявленной аритмии;</li>
      <li>пациенты после перенесённого инфаркта миокарда;</li>
      <li>оценка эффективности лечения у пациентов с имплантированным электрокардиостимулятором (ЭКС), имплантированным кардиовертер-дефибриллятором (ИКД).</li>
    </ul>
    <p>Категорически запрещается:</p>
    <ul>
      <li>самостоятельно отсоединять разъемы прибора;</li>
      <li>вынимать батарейки из монитора;</li>
      <li>механически повреждать или мочить прибор (Вы не можете принимать ванну или душ);</li>
      <li>выполнять МРТ, КТ.</li>
    </ul>
    <p>Запись на исследование проводится в регистратуре районной поликлиники по направлению врача.</p>
    <p>Вам необходимо явиться к 11:00 в кабинет №308 райполиклиники.</p>
    <p>Получить информацию о готовности результатов ХМ-ЭКГ выполненных в районной поликлинике можно по телефону 8(01772)54160 с 16:00 по 18:00.</p>
  </div>
{% endblock %}
