{% extends 'main/layout.html' %} 
{% load static %}


{% block title %}Кабинет эндоскопический{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'main/css/about.css' %}">

  <div class="about-container">
    <h2>Эндоскопия</h2>
    <p>Эндоскопия – диагностика внутренних органов при помощи специальных приборов – эндоскопов.</p>
    <h2>Метод эндоскопии</h2>
    <p>Методика эндоскопического исследования заключается в том, что через отверстия в тело человека вводится мягкая трубка, на конце которой прикреплены осветительный прибор и микрокамера. Трубка эта называется эндоскоп.</p>
    <p>Для разных областей медицины предназначены разные эндоскопы. Для эндоскопии желудка, верхних отделов пищеварительного тракта, 12-перстной кишки, служат гастродуоденоскопы, для осмотра тонкой кишки используют энтероскопы, для эндоскопии кишечника применяют колоноскопы, для дыхательных путей применяют бронхоскопы.</p>
    <p>При одних манипуляциях эндоскоп вводится через рот (эндоскопия желудка), при других через прямую кишку (эндоскопия кишечника), через гортань, мочеиспускательный канал и нос (эндоскопия носоглотки). Для проведения, к примеру, лапароскопии, в брюшной полости приходится проделывать специальные отверстия.</p>
    <h2>Виды эндоскопического исследования</h2>
    <p>Существует множество видов эндоскопического исследования. При помощи данной процедуры можно изучить состояние таких жизненно важных органов, как брюшная полость, влагалище, тонкая и 12-перстная кишка, мочеточники, желчные протоки, пищевод, органы слуха, бронхи, полость матки, а также можно сделать эндоскопию желудка, эндоскопию кишечника, эндоскопию носоглотки.</p>
    <p>Эндоскоп можно пропустить через сосуды и проверить их состояние, а также просмотреть сердце и сердечные камеры. В наш век эндоскоп может пробраться даже в головной мозг и дать врачу возможность просмотреть желудочки головного мозга.</p>
    <p>Все виды эндоскопических исследований направлены на то, чтобы выявить минимальные изменения слизистой оболочки, которые в дальнейшем могут привести к онкологии. Также процедура позволяет выявить онкологию на ранней стадии и удалить опухоль, что значительно увеличивает шансы онкобольных на выживание. Рак на ранних стадиях вообще невозможно выявить с помощью другого исследования, так что на сегодняшний день альтернативы эндоскопии нет.</p>
    <p>Помимо диагностики, данная процедура нашла широкое применение в хирургии, урологии, гинекологии и других областях. С ее помощью врачи останавливают кровотечения, удаляют опухоли на ранних стадиях. Процедура позволяет не только провести диагностику внутренних органов, но также взять образец ткани новообразования на анализ.</p>
    <h2>Как проводится процедура эндоскопии</h2>
    <p>При эндоскопии желудка аппарат вводят через рот и на мониторе осматривают слизистую оболочку. При этом через эндоскоп осуществляется подача воздуха – это необходимо для более детального осмотра. Процедура длится примерно 15-20 минут. Чтобы исследование было более точным, к нему необходимо правильно подготовиться. За 8-12 часов до процедуры желательно ничего не есть и не пить.</p>
    <p>Гастроскопия – неприятное исследование, вызывающее рвотный рефлекс у пациента. Эндоскопию желудка делают для уточнения диагноза и выявления изменений. Проведение эндоскопии кишечника – более болезненное и длительное занятие. Боли могут быть вызваны особенностями кишки, спайками. Сама процедура занимает от 30 минут до 1 часа.</p>
    <p>Часто при проведении колоноскопии используют наркоз. При проведении колоноскопии так же важна подготовка. Здесь рекомендуется за трое суток до процедуры перейти на безшлаковую диету. Показаниями к колоноскопии являются нарушения стула, выделения слизи и крови, болезненные ощущения, кровотечение из толстой кишки.</p>
    <p>Бронхоскопия проводится путем введения тонкого эндоскопа через нос, гортань и голосовые связки прямо в трахею. Это позволяет осмотреть бронхиальное дерево изнутри. Исследование показано при пневмониях, бронхитах, подозрениях на опухоль. При эндоскопии носоглотки в нос вводится эндоскоп, который позволяет видеть картину внутри носа и возможные полипы. Эндоскопия носоглотки показана при затрудненном дыхании, носовых кровотечениях, нарушении обоняния, при полипах и неясных головных болях. Эндоскопия носоглотки позволяет выявить патологические изменения в слизистой носа без вмешательства хирургических методов.</p>
    <h2>В Воложинской ЦРБ выполняется (5-й этаж акушерско-гинекологического корпуса):</h2>
    <ul>
      <li>Эзофагогастродуоденоскопия</li>
      <li>Эзофагогастродуоденоскопия под наркозом</li>
      <li>Колоноскопия</li>
      <li>Колоноскопия под наркозом</li>
      <li>Бронхоскопия</li>
      <li>Различные  виды биопсий</li>
    </ul>
    <p><strong>Колоноскопия проводится после Обязательной подготовки!!</strong></p>
    <p>Контакты: 55733- регистратура, 55830 – кабинет эндоскопии.</p>
    <h2>Подготовка к гастроскопии сводится к нескольким правилам:</h2>
    <ul>
      <li>Не принимайте пищу за 12 часов до начала процедуры, если она проводится утром, и за 8 часов, если назначена на вторую половину дня.</li>
      <li>Не употребляйте алкоголь за двое суток до манипуляции, так как алкоголь раздражает слизистую.</li>
      <li>За 2–4 часа до исследования можете выпить 150 мл воды.</li>
      <li>В день процедуры не курите, так как никотин стимулирует выделение желудочного сока.</li>
      <li>В день процедуры не пользуйтесь духами, туалетной водой, дезодорантами, так как ароматы могут спровоцировать рвоту.</li>
    </ul>
    <p>Исключите в день процедуры препараты, разжижающие кровь и содержащие соединения железа. Все остальные выписанные лекарства можно принимать в обычной дозировке, но не забудьте свести к минимуму количество воды, которой их запиваете.</p>
    <h2>Подготовка к колоноскопии препаратом Фортранс, Д-форжект, Фордрайв</h2>
    <p>Доза препарата рассчитывается - 1 пакет на 20 кг веса. 1 пакетик растворяется в 1 литре воды.</p>
    <p>Если исследование запланировано до 11.00, то рекомендуется одноэтапная схема подготовки препаратом Фортранс, Д-форжект, Фордрайв: накануне исследования можно легко позавтракать, обедать и ужинать нельзя! (разрешается прием прозрачных негазированных жидкостей в небольших объемах или слабый чай). С 16.00 начинать пить раствор, 1 литр выпивается за 1 час, по 250 мл каждые 15 минут. Все необходимое количество раствора выпивается накануне.</p>
    <p>Если исследование запланировано после 11.00, то рекомендуется двухэтапная схема подготовки препаратом Фортранс, Д-форжект, Фордрайв : накануне исследования можно легко позавтракать, обедать и ужинать нельзя! (разрешается прием прозрачных негазированных жидкостей в небольших объемах или слабый чай).  с 17.00 и далее выпить 2-3-4 литра раствора, в зависимости от веса, в день исследования с 8.00 до 9.00 выпить 1 литр раствора. 1 литр выпивается за 1 час, по 250 мл каждые 15 минут.</p>
    <p>Растворы препаратов имеют неприятный вкус и запах. Частично это устраняется при охлаждении (охлаждать около 2 часов). Также можно выдавить в раствор дольку лимона, или закусывать лимоном прием препарата. Тошнота и рвота на препарат не являются противопоказанием к приему!</p>
    <h2>Подготовка к колоноскопии препаратом Мовипреп</h2>
    <p>Для приготовления первого литра содержимое одного саше А и одного саше Б развести в небольшом количестве питьевой негазированной воды комнатной температуры до полного растворения, довести до 1 литра водой, перемешать. Для приготовления второго литра повторить алгоритм (см. выше), используя оставшиеся саше А и Б. Раствор принимать по 250 мл каждые 15 минут.</p>
    <p>Если исследование запланировано с 08.00 до 10.00, то рекомендуется одноэтапная схема подготовки препаратом Мовипреп: накануне исследования до 09.00 легкий завтрак, обед и ужин только разрешенные жидкости; с 19.00 до 20.00 выпить первый литр раствора препарата, с 21.00 до 22.00 выпить второй литр раствора препарата, после каждого принятого литра препарата выпить до 1000 мл разрешенной жидкости, но не менее 500мл.</p>
    <p>Если исследование запланировано с 10.00 до 14.00, то рекомендуется двухэтапная схема подготовки препаратом Мовипреп: накануне исследования завтрак согласно диете, до 13.00 легкий обед,  ужин только разрешенные жидкости; с 20.00 до 21.00 выпить первый литр раствора препарата, в день исследования с 07.00 до 08.00 выпить второй литр раствора препарата, после каждого принятого литра препарата выпить до 1000 мл разрешенной жидкости, но не менее 500мл.</p>
    
    
  </div>
{% endblock %}
