{% extends 'main/layout.html' %} 
{% load static %}


{% block title %}Кабинет УЗИ{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'main/css/about.css' %}">

  <div class="about-container">
    <h1>Кабинет УЗИ</h1>
    <h2>Ультразвуковая диагностика.</h2>
    <p>На базе УЗ «Воложинской  ЦРБ» оснащены и функционируют два кабинета ультразвуковой диагностики:</p>
    <ul>
      <li>в районной поликлинике (322 кабинет,3 этаж);</li>
      <li>в здании нового корпуса больницы(акушерско -гинекологического)в подвальном помещении, вход с угла корпуса со стороны центра гигиены и эпидемиологии.</li>
      <li>с 01.03.2023 ультразвуковое исследование детского населения будет проводится в кабинете УЗИ в здании нового(акушерско-гинекологического) корпуса больницы (в переходе между хирургическим отделением и отделением анестезиологии и реанимации, 2 этаж).Кабинеты оснащены аппаратами ультразвуковой диагностики  высокого (первого) класса, один из которых  введен в эксплуатацию в 2022 году.</li>
    </ul>
    <p>Штат кабинетов ультразвуковой диагностики укомплектован 7 врачами-специалистами,6 из которых являются совместителями.</p>
    <p>Запись на УЗИ ОМТ (органов малого таза) производится в женской консультации при личном обращении или по телефону 58-6-04 (с 8:00 до 17:00 в будние дни),на все остальные виды исследования запись проводится в регистратуре по обслуживанию взрослого населения поликлиники (1 этаж) при личном обращении или по телефону 56-4-46 (с 7:30 до 19:55 в будние дни).</p>
    <p>На базе УЗ «Воложинской  ЦРБ» проводятся следующие виды исследований:</p>
    <ul>
      <li>эхокардиография (ЭХО-КГ) - ультразвуковое исследование сердца (для детей с 12 лет и взрослого населения);</li>
      <li>ультразвуковое исследование щитовидной железы (для детей с 5 лет и взрослого населения);</li>
      <li>эхоскопия предстательной железы (для взрослого мужского населения);</li>
      <li>эхоскопия мочевого пузыря (для детей с 12 лет и взрослого населения);</li>
      <li>ультразвуковое исследование органов брюшной полости - печень, желчный пузырь, поджелудочная железа, селезенка (для детей с 12 лет и взрослого населения);</li>
      <li>ультразвуковое исследование почек (для детей с 12 лет и взрослого населения);</li>
      <li>ультразвуковое исследование органов малого таза - мочевой пузырь, матка, придатки (для взрослого  женского населения);</li>
      <li>ультразвуковое исследование сосудов нижних конечностей (для взрослого населения);</li>
      <li>ультразвуковое исследование (БЦА) брахиоцефальных артерий (для взрослого населения).</li>
    </ul>
    <p>Исследования проводятся на бюджетной (бесплатной) и внебюджетной (платной) основах.</p>
    <p>Все виды исследований проводятся только по предварительной записи.</p>
    <h2>При явке на исследование при себе необходимо иметь:</h2>
    <ul>
      <li>направление на исследование, полученное у врача (при прохождении исследования на бюджетной основе);</li>
      <li>чек об оплате (при прохождении исследования на платной основе);</li>
      <li>полотенце либо простыню (по желанию);</li>
      <li>амбулаторную карту.</li>
    </ul>
    <h2>Подготовка к различным видам УЗИ</h2>
    <p>От правильной подготовки пациента к ультразвуковому исследованию зависит его информативность! Настоятельно рекомендуем Вам четко соблюдать приведенные ниже рекомендации по подготовке к конкретным видам УЗИ!</p>
    <h2>Подготовка к УЗИ органов брюшной полости:</h2>
    <p>УЗИ необходимо проводить натощак (максимум, допускается легкий завтрак, если исследование будет проходить не утром, а, например, днем). Не рекомендуется курить до исследования. Нельзя проводить исследование после гастеро- и колоноскопии.</p>
    <h2>Подготовка к УЗИ органов малого таза (мочевой пузырь, матка, придатки у женщин):</h2>
    <p>Исследование органов малого таза у женщин чаще проводится траснвагинальным способом. В этом случае никакой специфической подготовки к УЗИ не требуется, так же следует знать, что полный мочевой пузырь может мешать исследованию и потребуется его опорожнение. Трансабдоминальным способом исследование проводится исключительно у девственниц. Так как проходит УЗИ при наполненном мочевом пузыре, следует примерно за час до процедуры выпить 1 литр негазированной воды и не мочиться в течение 3-4 часов до исследования.</p>
    <h2>Подготовка к УЗИ предстательной железы:</h2>
    <p>За час до нее необходимо выпить литр негазированной воды и за 3-4 часа до исследования не мочиться.</p>
    <h2>Подготовка к УЗИ мочевого пузыря:</h2>
    <p>Процедура проводится при наполненном мочевом пузыре, поэтому за 3-4 часа до нее не следует опорожнять мочевой пузырь и за час до исследования нужно выпить литр негазированной воды.</p>
    <h2>Для проведения  ЭХО-КГ, УЗИ  БЦА, почек, щитовидной железы, сосудов нижних конечностей никакой подготовки не требуется.</h2>
  </div>
{% endblock %}
