{% extends 'main/layout.html' %} 
{% load static %}


{% block title %}Кабинет эндоскопический{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'main/css/about.css' %}">

  <div class="about-container">
  <h2>График работы специалистов</h2>

    <table>
        <thead>
            <tr>
                <th>Ф.И.О.</th>
                <th>Специальность</th>
                <th>Понедельник</th>
                <th>Вторник</th>
                <th>Среда</th>
                <th>Четверг</th>
                <th>Пятница</th>
            </tr>
        </thead>
        <tbody>
            {% for s in specialists %}
            <tr>
                <td>{{ s.name }}</td>
                <td>{{ s.speciality }}</td>
                <td>{{ s.monday|default:"—" }}</td>
                <td>{{ s.tuesday|default:"—" }}</td>
                <td>{{ s.wednesday|default:"—" }}</td>
                <td>{{ s.thursday|default:"—" }}</td>
                <td>{{ s.friday|default:"—" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="9">Нет данных</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
