{% extends 'main/layout.html' %} 
{% load static %}


{% block title %}
  О нас
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'main/css/about.css' %}">

  <div class="about-container">
    <h1>Льготное лекарственное обеспечение</h1>
    
    <p>Выписка лекарственных средств на льготной основе осуществляется на основании нормативной базы:</p>
    <p>Закон РБ от 20.06.2006 161-3 «О лекарственных средствах»,статья 5.</p>
    <p>Закон Республики Беларусь от 14.06.2007 № 239-З   «О государственных социальных льготах, правах и гарантиях для отдельных категорий граждан»,  статья 10 «Льготы по лекарственному обеспечению»(в редакции от 09.01.2017 №19-З);</p>
    <p>Постановление Совета министров Республики Беларусь от 30.09.2007 г. №1650 «О некоторых вопросах бесплатного и льготного обеспечения лекарственными средствами и перевязочными материалами отдельных категорий граждан» в редакции от 23.03.2016 № 231»;</p>
    <p>Постановление Совета министров Республики Беларусь от 11.03.2019 г. №152 «Об изменении постановления Совета Министров Республики Беларусь от 30 ноября 2007г. №1650»</p>
    <p>Постановление Министерства здравоохранения Республики Беларусь от 18.10.2020 №106 «Об изменении постановления Министерства здравоохранения Республики Беларусь от 16.07.2007 №65».</p>
    <p>Постановление Министерства здравоохранения Республики Беларусь от 05.06.2012 № 55 «Об установлении перечня лекарственных средств, реализуемых без рецепта врача»;</p>
    <p>Приказ Министерства здравоохранения Республики Беларусь  от 23.03.2012 г. № 315 «О порядке льготного обеспечения лекарственными средствами отдельных категорий граждан»;</p>
    <p>Постановление Министерства Республики Беларусь от 09.09.2014 г. № 66 «О внесении изменений и дополнений в постановления Министерства здравоохранения Республики Беларусь от 27 декабря 2006 г. № 120  и от 31 октября 2007 г. № 99»;</p>
    <p>Постановление Министерства здравоохранения Республики Беларусь от 31.10.2007 №99 (в редакции постановлений Минздрава от 31.10.2008 №181, от 09.09.2014 №66, от 16.01.2016 №1);</p>
    <p>Постановление Министерства здравоохранения Республики Беларусь от 24.06.2019 №64 «О внесении изменения в постановление Министерства здравоохранения Республики Беларусь от 16.07.2007 г. №65»;</p>
    <p>Постановление Министерства здравоохранения Республики Беларусь от 28.12.2004 № 51 «Об утверждении Инструкции о порядке приобретения, хранения, реализации и использования наркотических средств и психотропных веществ в медицинских целях» (в редакции постановления Министерства здравоохранения Республики Беларусь от 7 декабря 2007 г.   № 149, от 17 ноября 2020 г. № 98, от 15 ноября 2022 №110);</p>
    <p>Постановлением Совета Министров Республики Беларусь от 30 ноября 2007 года № 1650 «О некоторых вопросах бесплатного и льготного обеспечения лекарственными средствами и перевязочными материалами отдельных категорий граждан» утверждены Положение о порядке бесплатного и льготного обеспечения лекарственными средствами и перевязочными материалами отдельных категорий граждан и Перечень заболеваний, дающих право гражданам на бесплатное обеспечение лекарственными средствами, выдаваемыми по рецептам врачей в пределах Перечня основных лекарственных средств, при амбулаторном лечении, а также лечебным питанием.</p>
    <p>Утверждены категории граждан, имеющих право на льготное лекарственное обеспечение.</p>
    <h2>Бесплатное обеспечение лекарственными средствами, выдаваемыми по рецептам врачей в пределах перечня основных лекарственных средств имеют:</h2>
    <ul>
      <li>Герои Беларуси, Герои Советского Союза, Герои Социалистического Труда, полные кавалеры орденов Отечества, Славы, Трудовой Славы, участники Великой Отечественной войны, инвалиды войны, лица, принимавшие участие в составе специальных формирований в разминировании территорий и объектов после освобождения от немецкой оккупации в 1943-1945 годах;</li>
      <li>лица, награжденные орденами и (или) медалями СССР за самоотверженный труд и безупречную воинскую службу в тылу в годы Великой Отечественной войны;</li>
      <li>лица, работавшие на объектах противовоздушной обороны, местной противовоздушной обороны, на строительстве оборонительных сооружений, морских баз, аэродромов и других военных объектов в пределах тыловых границ действующих фронтов, на прифронтовых участках железных и автомобильных дорог;</li>
      <li>члены экипажей судов транспортного флота, интернированные в начале Великой Отечественной войны в портах других государств;</li>
      <li>лица, работавшие на предприятиях, в учреждениях и организациях города Ленинграда в период блокады с 8 сентября 1941 года по 27 января 1944 года и награжденные медалью «За оборону Ленинграда», и лица, награжденные знаком «Жителю блокадного Ленинграда» и др.;</li>
      <li>Право на бесплатное обеспечение лекарственными средствами имеют дети-инвалиды в возрасте до 18 лет и дети в возрасте до 3 лет.</li>
    </ul>
    <p>Предусмотрена <strong>90-процентная скидка</strong> со стоимости лекарственных средств, выдаваемых по рецептам врачей в пределах перечня основных лекарственных средств, а с хирургическими заболеваниями – также перевязочных материалов (при наличии соответствующего медицинского заключения), гражданам, заболевшим и перенесшим лучевую болезнь, вызванную последствиями катастрофы на Чернобыльской АЭС, других радиационных аварий; инвалидам I и II группы, кроме лиц, инвалидность которых наступила в результате противоправных действий, по причине алкогольного, наркотического, токсического опьянения, членовредительства.</p>
    <p><strong>50-процентная скидка</strong> от стоимости лекарственных средств, выдаваемых по рецептам врачей в пределах перечня основных лекарственных средств, для лечения заболевания, приведшего к инвалидности, предусмотрена для инвалидов III группы, кроме лиц, имеющих право на бесплатное обеспечение лекарственными средствами.</p>
    <p>Помимо перечисленных льгот на лекарственные средства существует еще <strong>целый ряд иных льгот и гарантий, предоставляемых населению</strong> . Например, льготы по обеспечению техническими средствами социальной реабилитации, льготы на предоставление услуг по всем видам медицинских осмотров и др.</p>
  </div>
{% endblock %}
