{% extends 'main/layout.html' %} 
{% load static %}


{% block title %}Водительская комиссия{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">
<div class="about-container">
  <h1>РЕГЛАМЕНТ ПРОХОЖДЕНИЯ КОМИССИИ НА УПРАВЛЕНИЕ ТРАНСПОРТНЫМИ СРЕДСТВАМИ</h1>
  <h2>УЗ "Воложинская ЦРБ" информирует:</h2>
  <p>Перечень документов, необходимый для прохождения водительской комиссии:</p>
  <ul>
    <li>Паспорт (вид на жительство);</li>
    <li>Военный билет (приписное свидетельство) для мужчин обязателен;</li>
    <li>2 фотографии 3*4 (не более годичной давности);</li>
    <li>Очки и рецепт на очки для дали или справка на ношение контактных линз;</li>
    <li>Должна быть произведена оплата в кассе райполиклиники (2й этаж в отделении физиотерапии);</li>
    <li>Справка об отсутствии психиатрического и наркологического учета по месту прописки (необходимо брать заранее)</li>
    <li>Для пациентов, состоящих на диспансерном учете у врачей кардиолога и эндокринолога – медицинская справка о состоянии здоровья с допуском к управлению транспортными средствами;</li>
    <li>Для прохождения врача-терапевта – данные о флюорографии. Для женщин- осмотр акушера-гинеколога или пройдённый смотровой кабинет.</li>
  </ul>
  <p>Для лиц, которые ранее не обращались и зарегистрированы (прописаны) вне района обслуживания поликлиники, либо прописаны в Воложинском районе менее 5 лет дополнительно необходимо иметь:</p>
  <ul>
    <li>Выписку из амбулаторной карты за последние 5 лет (выдается в поликлинике по месту жительства или прикрепления с указанием номера и даты);</li>
    <li>Выписку из медицинской карты за 5 лет с последнего места прописки;</li>
    <li>Флюорографии за последний год;</li>
    <li>Сведения об отсутствии психиатрического и наркологического учета по месту прописки;</li>
    <li>Лицам, имеющим статью в военном билете, предоставить информацию о заболевании, на основании которого проставлена статья.</li>
    <p>Желательно иметь с собой предыдущую справку.</p>

  </ul>
  <p>Для прохождения водительской комиссии водителям, перенесшим операции по восстановлению зрения, для медицинского освидетельствования, кроме обязательных документов, потребуются также документы, содержащие информацию о перенесенной операции (дата операции, диагноз, выписной эпикриз (ксерокопия)).</p>
    <p>Медицинские осмотры врачей невролога и ЛОРа для водительской комиссии по графику без предварительной записи.</p>
    <ul>
      <li>Понедельник 10.00-12.00</li>
      <li>Вторник 10.00-12.00 15.00-15-45</li>
      <li>Среда 10.00-12.00</li>
      <li>Четверг 10.00-12.00 15.00-15.30</li>
      <li>Пятница 10.00-11.00 15.00-16.00</li>
    </ul>

    <p>Осмотр врача офтальмолога и итоговое заключение с оформлением медицинской документации будет осуществляться после прохождения всех врачей председателем водительской комиссии (каб 304) по предварительной записи в регистратуре либо по телефону: 55-7-33.</p>
    <ul>
      <li>Понедельник 14.00-16.42</li>
      <li>Среда 14.00 -16.42</li>
      <li>Пятница 11.00-13.00</li>
    </ul>
</div>
{% endblock %}