{% extends 'main/layout.html' %} 
{% load static %}


{% block title %}Паллиативная помощь{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">
<div class="about-container">
  <h1>Паллиативная помощь</h1>
  <p>Жителям Воложинского района с хроническим болевым синдромом, а также наличием одышки, отеков, пролежней, нарушением глотания и иными патологическими симптомами, требующими паллиативной медицинской помощи осуществляют амбулаторно врачи общей практики по месту жительства, а так же:</p>
  <h2>Амбулаторно в поликлинике УЗ «Воложинская ЦРБ»</h2>
  <li>Цаюн Татьяна Александровна – врач общей практики(заведующий) отделения общеврачебной практики, каб.№ 315. Без талона и предварительной записи.</li>
  <p>Телефон: 54315</p>
  <p>Время консультации: 09.00-13.00</p>
  <h2>Амбулаторно в межрайонном кабинете паллиативной медицинской помощи (УЗ «Молодечненская ЦРБ»)</h2>
  <li>Витанаге Рита Ивановна – врач кабинета паллиативной медицинской помощи поликлиники №1. Каб № 421</li>
  <p>Телефон: 80176581286</p>
  <p>Время консультаций: 13.00 – 17.00</p>
  <li>Сонич Наталья Николаевна – врач кабинета паллиативной медицинской помощи поликлиники №2. Каб №43</li>
  <p>Телефон: 80176747199</p>
  <p>Время консультаций: 8.00-12.00</p>
  <p>Закрепленное население: жители Вилейского, Воложинского, Дзержинского, Мядельского, Молодечненского, Столбцовского
и Минского районов</p>
  <h2>При необходимости, госпитализация жителей Воложинского района осуществляется в межрайонное отделение паллиативной медицинской помощи Ильянской участковой больницы УЗ «Вилейская ЦРБ»</h2>
  <li>Кулик Светлана Анатольевна – врач-терапевт отделения паллиативной медицинской помощи</p>
  <p>Адрес: Вилейский р-н, аг. Илья, ул. Красноармейская, 16</li>
  <p>Телефон: 8-01771-33-2-74</p>
  <p>Время консультаций: 8.00-20.00</p>
  <p>Закрепленное население: жители Вилейского, Мядельского, Молодечненского, Воложинского, Крупского, Березинского, Смолевичского, Логойского, Борисовского и Минского районов.</p>
</div>
{% endblock %}