{% extends 'main/layout.html' %} 
{% load static %}


{% block title %}Единые дни здоровья{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'main/css/about.css' %}">

  <div class="about-container">
    <h1>Единые дни здоровья</h1>
    <ul>
      <li>31 января - День профилактики гриппа и ОРЗ Грипп: профилактика и лечение;</li>
      <li>1 марта - Международный день борьбы с наркотиками;</li>
      <li>24 марта - Всемирный день борьбы с туберкулезом;</li>
      <li>7 апреля -	Всемирный день здоровья;</li>
      <li>16 апреля - День профилактики болезней сердца;</li>
      <li>1 мая - Международный «Астма-день»;</li>
      <li>31 мая - Всемирный день без табака;</li>
      <li>14 июня - Всемирный день донора крови;</li>
      <li>2 июля - День профилактики алкоголизма;</li>
      <li>28 июля - Всемирный день борьбы с гепатитом;</li>
      <li>21 августа - День здорового питания;</li>
      <li>10 сентября - Всемирный день предотвращения самоубийств;</li>
      <li>28 сентября - Всемирный день борьбы против бешенства;</li>
      <li>10 октября - Всемирный день психического здоровья;</li>
      <li>15 октября - Всемирный день чистых рук;</li>
      <li>14 ноября - Всемирный день борьбы против диабета;</li>
      <li>19 ноября - Всемирный день некурения. Профилактика онкологических заболевания;</li>
      <li>1 декабря - Всемирный день борьбы против СПИДа;</li>
      <li>18 декабря - День профилактики травматизма;</li>
    </ul>
  </div>
{% endblock %}
