{% extends 'main/layout.html' %} 
{% load static %}


{% block title %} История учреждения{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">
<div class="about-container">
  <h1>ИСТОРИЯ УЧРЕЖДЕНИЯ</h1>
  <p>Здравоохранение, как отрасль, занимает одно из ведущих мест в Воложинском районе. Много десятилетий назад на базе построенных польскими властями бараков для сыпно-тифозных больных в г. Воложине была создана больница на 20 коек. Первым врачом в этой больнице работал Е.В. Фоминский. Он родился в 1892 г. в г. Москве, в 1910 году поступил на медицинский факультет московского университета. Осенью 1914 г. уехал на фронт. В 1918 г. успешно сдал экзамены и получил диплом врача. В г. Воложине он работал c 1 марта 1927 г. по 1958 г. (до пенсии). Е.Ф. Фоминский работал главврачом больницы до 15 декабря 1944г. Его жена расстреляна фашистами в 1942 г. за доставку партизанам медикаментов и перевязочного материала.</p>
  <p>Вместе с ним работали медсестра З.И. Каминская, акушерка О. Ф. Карлович, фельдшер Сарт, лаборант З.Ф. Гололоб, который за связь с партизанами был арестован фашистами и отправлен в концлагерь «Освенцим».</p>
  <img src="{% static 'main/img/leikovski.jpg' %}" alt="Фото" class="photo-img">
  <p>15 января 1940 г. был образован Воложинский район и первым райздравотделом руководил И.А. Абрамов. Затемрайздравотдел возглавляла З.А. Первушина, а главврачом Воложинской больницы с 15.12.1944 г. по 1950 г. работал С.В. Маспанов. С.В. Маспанов умер в 1950 г. от туберкулёза лёгких.</p>
  <p>На 01.01.1948 г. Воложинская больница насчитывала 50 коек.</p>
  <p>В больнице работало три врача (терапевт, акушер-гинеколог, санврач), фармацевт, один фельдшер, фельдшер-акушерка, 11 медицинских сестер и один дезинфектор.</p>
  <p>Кроме того, медицинскую помощь населению района оказывали в местечке Вишнево и Першаи.</p>
  <p>На территории района до 1950 г. числилось 6 фельдшерско-акушерских пунктов: Саковщинский, Лосский, Узболотский, Сугвоздовский, Дорский, Румский.</p>
  <p>С 30 августа 1950 г. по 30 марта 1957 г. райздравотдел района возглавлял Михаил Михайлович Лейковский, который работал в районной поликлинике офтальмологом. Участник Великой Отечественной войны, награжден Орденом Отечественной войныI ст., Орденом Славы III ст. Окончил Минский медицинский институт в 1950 г. В 1964 г. защитил кандидатскую диссертацию. В 1976 г. ему присвоено почётное звание «Заслуженный врач Республики Беларусь».</p>
  <p>Вместе с ним с 1950 по 1956 г. главврачом больницы работал Г. С. Кузьмин.</p>
  <p>Много добрых слов можно услышать о Заслуженном враче республики Валентине Фёдоровне Бабинцевой, сменившей в 1947 г. военный китель капитана медслужбы на гражданскую одежду и приехавшей работать хирургом в Воложинскую больницу. С 1956 по 1958 г. была в должности главного врача этой больницы.</p>
  <img src="{% static 'main/img/babinceva.jpg' %}" alt="Фото" class="photo-img">
  <p>Особое место в становлении здравоохранения района отводится С.З. Кипелю, который возглавлял коллектив районной больницы с 1958 по 1973 г.</p>
  <p>До 1961 г. Воложинская районная больница и амбулатория находились в 4-х одноэтажных зданиях. Основной корпус больницы был каркасно-засыпной. В этом корпусе размещались хирургическое, терапевтическое, гинекологическое и родильное отделения, а также лаборатория, физкабинет и перевязочная.</p>
  <p>В другом деревянном корпусе размещалась амбулатория и инфекционное отделение, в третьем корпусе – детское отделение, в четвертом – рентгеновский кабинет, бухгалтерия и красный уголок.</p>
  <p>Всего в больнице было развернуто 75 коек. В больнице работало 2 хирурга, 3 терапевта, 1 акушер-гинеколог, 3 педиатра, 1 окулист, 1 ЛОР-врач, 2 рентгенолога, 1 дерматолог, 1 невропатолог, 1 инфекционист, 1 лаборант и 1 врач скорой помощи. При активном участии С.З. Кипеля в 1960 г. начато строительство районной больницы на 110 коек, которая была введена в строй в 1961 г. и размещалась в трех отдельных корпусах.</p>
  <img src="{% static 'main/img/griko.jpg' %}" alt="Фото" class="photo-img">
  <p>С 6 января 1965 г. в состав Воложинского района была включена значительная часть территории Ивенецкого и Радошковичского районов, которые были реорганизованы.</p>
  <p>Активность, настойчивость и прекрасные деловые качества характеризуют главного врача М.Г. Грико, который проработал в этой должности около 20 лет (с 1978 по 1997 г.).</p>
  <p>Особенно они раскрылись в укреплении материально-технической базы. За время работы его главврачом построен и введён в строй пятиэтажный терапевтический корпус, расширены площади приёмного покоя, скорой помощи и физиотерапевтического отделения. За счет перевода терапевтического, детского и физиотерапевтического отделений в новый корпус расширены площади родильного, гинекологического, хирургического отделений. Открыто отделение реанимации и интенсивной терапии на 6 коек.</p>
  <p>С 1 октября 1990 г. Воложинская ЦРБ была переименована в Воложинское территориальное медицинское объединение и в этом же году была введена в строй районная поликлиника на 375 посещений в смену.</p>
  <img src="{% static 'main/img/galugin.jpg' %}" alt="Фото" class="photo-img">
  <p>С 1997 по 2002 г. главным врачом Воложинского района работал В.В. Галыгин.</p>
  <p>Деятельность учреждения здравоохранения в эти годы направлена на уменьшение влияния неблагоприятных последствий экономического кризиса стационарных учреждениях.</p>
  <p>С 2002 г. по 2012 г. УЗ «Воложинская ЦРБ» возглавляла М.И. Пыжык.</p>
  <p>Активность, целеустремленность и прекрасные деловые качества характеризуют главного врача М.И. Пыжык.</p>
  <p>За время ее работы главврачом построен и введён в строй новый акушерско-гинекологический корпус, оснащенный современным медицинским оборудованием. Проведен капитальный ремонт в педиатрическом, неврологическом, инфекционном и хирургическом отделениях. Хирургическое отделение ЦРБ оснащено новым оборудованием для операционного блока,аппаратом УЗИ высокого класса, современным эндоскопическим и рентгенологическим оборудованием, позволяющим качественно производить необходимые исследования.</p>
  <p>В районе развернуто 301 койка круглосуточного стационара и 25 коек в больнице сестринского ухода. Мощность амбулаторно-поликлинических учреждений доведена до 675 посещений в смену.</p>
</div>
{% endblock %}