{% extends 'main/layout.html' %} 
{% load static %}


{% block title %}
  О нас
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'main/css/about.css' %}">

  <div class="about-container">
    <h1>О нас</h1>
    
    <p>Учреждение здравоохранения <strong>«Воложинская центральная районная больница»</strong> расположена в западной части Минской области и находится в 76 км на северо-западе от Минска, в 70 км от западной границы Республики Беларусь.</p>

    <p>Учреждение представляет собой многопрофильное лечебно-профилактическое заведение, где в различных отделениях можно получить профессиональную медицинскую помощь. Постоянно улучшается материально-техническая база, внедряются современные формы организации медицинской помощи и передовые методики, проводятся исследования. Реализовано большое количество прогрессивных медицинских технологий.</p>
    <p>Больница выполняет важную организационно-методическую роль в повышении качества медицинской помощи населению. Применяются новейшие методы диагностики, лабораторных исследований, физиотерапии и лечения.</p>
    <p>В учреждении работают 100 врачей и 309 специалистов со средним медицинским образованием.</p>
    <h2>В состав учреждения входят:</h2>
    <ul>
      <li>Воложинская центральная районная больница;</li>
      <li>Ивенецкая горпоселковая больница;</li>
      <li>Раковская участковая больница;</li>
      <li>Першайская больница сестринского ухода;</li>
      <li>Богдановская амбулатория врача общей практики;</li>
      <li>Вишневская амбулатория врача общей практики;</li>
      <li>Городьковская амбулатория врача общей практики;</li>
      <li>Першайская амбулатория врача общей практики;</li>
      <li>Подберезская амбулатория врача общей практики;</li>
      <li>12 фельдшерско-акушерских пунктов в районе.</li>
    </ul>

    <h2>Основные структурные подразделения:</h2>
    <ul>
      <li>Хирургическое отделение;</li>
      <li>Терапевтическое отделение;</li>
      <li>Акушерское отделение;</li>
      <li>Гинекологическое отделение;</li>
      <li>Педиатрическое отделение;</li>
      <li>Инфекционное отделение;</li>
      <li>Неврологическое отделение;</li>
      <li>Отделение анестезиологии и реанимации;</li>
      <li>Отделение медицинской реабилитации;</li>
      <li>Приемное отделение;</li>
      <li>Отделение скорой (неотложной) медицинской помощи;</li>
      <li>Поликлиника;</li>
      <li>Кабинеты: функциональной диагностики, УЗИ, эндоскопии, рентгена и клинико–диагностическая лаборатория.</li>
    </ul>
  </div>
{% endblock %}
