{% extends 'main/layout.html' %} 
{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">
<div class="about-container">
  <h1>Контакты</h1>
  <p>Всю интересующую Вас информацию о видах медицинских услуг, оказываемых в том числе на платной основе, Вы можете получить по контактным телефонам:</p>
  <ul>
    <li>телефон приемной главного врача (факс): <a href="tel:80177255505"> (8-01772) 55-5-05</a></li>
    <li>телефон регистратуры поликлиники: <a href="tel:80177255733"> (8-01772) 55-7-33</a></li>
    <li>телефон отделения скорой (неотложной) медицинской помощи: <a href="tel:80177255303"> (8-01772) 55-3-03</a></li>
    <li>электронный почтовый ящик для корреспонденции: <a href="mailto:mail@volozhincrb.by">mail@volozhincrb.by</a></li>
    <li>электронный почтовый ящик для счетов, договоров (иных финансовых документов), коммерческих предложений: <a href="e5990995@volozhincrb.by">e5990995@volozhincrb.by</a></li>
  </ul>
  <p>Адрес электронной почты Главного управления по здравоохранению Минского областного исполнительного комитета (вышестоящая организация<a href="guzmo@minsk-region.gov.by">guzmo@minsk-region.gov.by</a></p>
  <p><a href="https://volozhincrb.by/images/usefull/docs/GRAFIK_PRIEMA_GUZMO_2025.pdf">График личного приема граждан, в том числе индивидуальных предпринимателей, а также представителей юридических лиц в Главном управлении по здравоохранению Минского обисполкома по адресу г.Минск, ул. Энгельса, 4.</a></p>
  <p><a href="https://volozhincrb.by/images/usefull/docs/GRAFIK_PRIEMA_RIK2_2025.pdf">График личного приема руководством Воложинского районного исполнительного комитета и районного Совета депутатов по адресу г. Воложин, пл. Свободы,2</a></p>
  <p><a href="https://volozhincrb.by/images/usefull/docs/GRAFIK_PRIEMA_UZ2_2025.pdf">График приема граждан, в том числе индивидуальных предпринимателей, а также представителей юридических лиц в УЗ «Воложинская центральная районная больница» по адресу г.Воложин, ул. Горького, 13.</a></p>
  <ul>
    <li>Телефон "горячей линии" УЗ «Воложинская ЦРБ» - (8-01772) 55-5-05</li>
    <li>Телефон "горячей линии" главного управления по здравоохранению Минского облисполкома - (8-017) 517-20-25. С 01.04.2021 режим работы - 8.30-17.30 (обеденный перерыв: 13.00-14.00)</li>
    <li>Телефон "доверия" главного управления по здравоохранению Минского облисполкома  - (8-017) 517-53-30 (в режиме автоответчика)</li>
    <li>Телефон "доверия" для получения информации о коррупционных правонарушениях в УЗ «Воложинская ЦРБ» - (8-01772) 58-8-76 (в режиме автоответчика)</li>
    <li>Телефон Детской линии помощи 8-801-100-1611 (УЗ "Городской клинический детский психоневрологический диспансер"  г. Минск), круглосуточный режим работы</li>
  </ul>
</div> 
{% endblock %}