{% extends 'main/layout.html' %} 
{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">
<div class="about-container">
  <h1>Контакты</h1>
  <p>Всю интересующую Вас информацию о видах медицинских услуг, оказываемых в том числе на платной основе, Вы можете получить по контактным телефонам:</p>
  <ul>
    <li>телефон приемной главного врача (факс): <a href="tel:80177255505"> (8-01772) 55-5-05</a></li>
    <li>телефон регистратуры поликлиники: <a href="tel:80177255733"> (8-01772) 55-7-33</a></li>
    <li>телефон отделения скорой (неотложной) медицинской помощи: <a href="tel:80177255303"> (8-01772) 55-3-03</a></li>
    <li>электронный почтовый ящик для корреспонденции: <a href="mailto:mail@volozhincrb.by">mail@volozhincrb.by</a></li>
    <li>электронный почтовый ящик для счетов, договоров (иных финансовых документов), коммерческих предложений: <a href="e5990995@volozhincrb.by">e5990995@volozhincrb.by</li>
  </ul>
</div> 
{% endblock %}