{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>

  <link rel="icon" type="image/png" href="{% static 'main/img/favicon-96x96.png' %}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{% static 'main/img/favicon.svg' %}" />
  <link rel="shortcut icon" href="{% static 'main/img/favicon.ico' %}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/img/apple.png' %}" />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'main/css/layout.css' %}">
    
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header class="main-header">

    <div class="header-left">
        <img src="{% static 'main/img/logo.png' %}" alt="Логотип" class="logo-img">
        <div class="logo-text">
            <span>УЧРЕЖДЕНИЕ ЗДРАВООХРАНЕНИЯ</span>
            <span>"ВОЛОЖИНСКАЯ ЦЕНТРАЛЬНАЯ РАЙОННАЯ БОЛЬНИЦА"</span>
        </div>
    </div>

    <nav class="header-services">
      <ul class="services-list">
        
        <li class="services-item">
          <div class="service-block">
            <span class="service-label">Регистратура поликлиники:</span>
            <a href="tel:80177255733" class="service-phone">
              <i class="fa-solid fa-phone-volume"></i>
              (801772) 55-7-33
            </a>
          </div>
        </li>

        <li class="services-item">
          <div class="service-block">
            <span class="service-label">Регистратура детской консультации:</span>
            <a href="tel:80177255733" class="service-phone">
              <i class="fa-solid fa-phone-volume"></i>
              (801772) 55-7-01
            </a>
          </div>
        </li>

        <li class="services-item">
          <div class="service-block">
            <span class="service-label">Запись на исследования:</span>
            <a href="tel:80177255733" class="service-phone">
              <i class="fa-solid fa-phone-volume"></i>
              (801772) 55-5-05
            </a>
          </div>
        </li>
          
        <li class="services-item">
          <a href="https://talon.by/policlinic/volozhin/order" class="services-link">
            <i class="fa-solid fa-calendar-check" style="font-size: 24px;"></i>
            <div class="text-wrapper">
              <span class="top-text">Заказать</span>
              <span class="bottom-text">талон</span>
            </div>
          </a>
        </li>

        <li class="services-item">
          <a href="/" class="services-link">
            <i class="fa-solid fa-file" style="font-size: 24px;"></i>
            <div class="text-wrapper">
              <span class="top-text">Заказать</span>
              <span class="bottom-text">выписку</span>
            </div>
          </a>
        </li>
      </ul>
    </nav>

  </header>
  <nav class="main-nav">
      <ul class="nav-list">
          <li class="nav-item"><a href="{% url 'home' %}" class="nav-link"><i class="fas fa-home"></i> Главная</a></li>
          
          <li class="nav-item dropdown">
            <a href="{% url 'about' %}" class="nav-link"><i class="fas fa-hospital"></i> Об учреждении</a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'about' %}">О нас</a></li>
              <li><a href="{% url 'about_section' 'history' %}">История учреждения</a></li>
              <li><a href="{% url 'administration_list' %}">Администрация</a></li>
              <li><a href="{% url 'about_section' 'trade_union' %}">Профсоюз</a></li>
              <li><a href="{% url 'specialists_list' %}">Специалисты</a></li>
              <li><a href="{% url 'about_section' 'departments' %}">Отделения</a></li>
              <li><a href="{% url 'about_section' 'procedures' %}">Административные процедуры</a></li>
              <li><a href="{% url 'about_section' 'rating_score' %}">Рейтинговая оценка качества услуг</a></li>
              <li><a href="{% url 'about_section' 'media' %}">СМИ о нас</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a href="{% url 'services' %}" class="nav-link"><i class="fas fa-stethoscope"></i> Услуги</a>
            <ul class="dropdown-menu">
              <li><a href="/">Платные медицинские услуги гражданам РБ</a></li>
              <li><a href="/">Платные медицинские услуги иностранным гражданам</a></li>
              <li><a href="/">Кабинет эндоскопический</a></li>
              <li><a href="/">Кабинет УЗИ</a></li>
              <li><a href="/">Клинико-диагностическая лаборатория</a></li>
              <li><a href="/">Кабинет функциональной диагностики</a></li>
              <li><a href="/">Кабинет рентгенодиагностический</a></li>
              <li><a href="/">Кабинет компьютерной рентгеновской томографии</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a href="{% url 'information' %}" class="nav-link"><i class="fa-solid fa-circle-info"></i> Информация</a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'vacancies' %}">Вакансии</a></li>
              <li><a href="/">Объявления</a></li>
              <li><a href="/">Диспансеризация</a></li>
              <li><a href="/">Новости медицины</a></li>
              <li><a href="{% url 'information_section' 'driving_comission' %}">Паллиативная помощь</a></li>
              <li><a href="/">График приема специалистов</a></li>
              <li><a href="{% url 'information_section' 'driving_comission' %}">Регламент прохождения комиссии на управление транспортными средствами</a></li>
              <li><a href="/">Лекарственные средства отечественных производителей</a></li>
              <li><a href="{% url 'information_section' 'discounted_medicines' %}">Льготное лекарственное обеспечение</a></li>
              <li><a href="/">Антикоррупционная деятельность</a></li>
              <li><a href="/">Здоровый образ жизни</a></li>
              <li><a href="/">Единые дни здоровья</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a href="{% url 'contacts' %}" class="nav-link"><i class="fas fa-phone"></i> Контакты</a>
            <ul class="dropdown-menu">
              <li><a href="/">Контакты</a></li>
              <li><a href="/">Электронные обращения</a></li>
            </ul>
          </li>

          <li class="nav-item"><a href="{% url 'home' %}" class="nav-link"><i class="fa-solid fa-syringe"></i> Вакцинация</a></li>
        </ul>
  </nav>
  <main>  
    {% block content %}

    {% endblock %}
  </main>
    <div class="footer-nav">
  <div class="footer-container">
    <!-- Левая часть: логотип + текст -->
    <div class="footer-left">
      <div class="footer-brand">
        <img src="{% static 'main/img/logo.png' %}" alt="Логотип" class="footer-logo">
        <div class="footer-text">
          <span>УЧРЕЖДЕНИЕ ЗДРАВООХРАНЕНИЯ</span>
          <span>"ВОЛОЖИНСКАЯ ЦЕНТРАЛЬНАЯ РАЙОННАЯ БОЛЬНИЦА"</span>
        </div>
      </div>
    </div>

    <!-- Правая часть: меню -->
    <nav class="footer-menu">
      <ul>
        <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Главная</a></li>
        <li><a href="{% url 'about' %}"><i class="fas fa-hospital"></i> Об учреждении</a></li>
        <li><a href="{% url 'services' %}"><i class="fas fa-stethoscope"></i> Услуги</a></li>
        <li><a href="{% url 'information' %}"><i class="fa-solid fa-circle-info"></i> Информация</a></li>
        <li><a href="{% url 'contacts' %}"><i class="fas fa-phone"></i> Контакты</a></li>
      </ul>
    </nav>
  </div>
</div>



  </div>
    <footer class="footer">
      <div class="footer-content">
        <span>
          © 2025 Учреждение здравоохранения "Воложинская центральная районная больница"
        </span>
        <div class="social-icons">
          <a href="https://www.instagram.com/volozhinmed/" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
          <a href="https://vk.com/volozhinmed" target="_blank" aria-label="VK"><i class="fab fa-vk"></i></a>
          <a href="https://m.ok.ru/volozhinmed" target="_blank" aria-label="Одноклассники"><i class="fab fa-odnoklassniki"></i></a>
          <a href="https://www.youtube.com/channel/UCaO_hexuhXUU3uwwYQyIqLQ" target="_blank" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>