{% extends 'main/layout.html' %} 

{% block title %}
  Главная страница
{% endblock %}

{% block content %}
<div class="ultra-wide-video">
  <iframe 
    src="https://www.youtube.com/embed/vtgm5PS5fN0?autoplay=1&mute=1&loop=1&playlist=vtgm5PS5fN0&start=2&controls=0&rel=0&modestbranding=1&showinfo=0" 
    frameborder="0" 
    allow="autoplay; encrypted-media" 
    allowfullscreen>
  </iframe>
</div>
  <h1>{{ title }}</h1>
  <div class='features'>
    <h2>ЭНДОПРОТЕЗИРОВАНИЕ В БЕЛАРУСИ</h2>
    <h3>Кому показано эндопротезирование?</h3>
    <ul>
      <li>первичным остеоартритом сустава 3-4 стадии с выраженным болевым синдромом, нарушением функции сустава и деформацией конечности</li>
      <li>вторичным остеоартритом сустава 3-4 стадии (посттравматический остеоартрит, ревматоидный полиартрит, подагра и т.д.)</li>
      <li>асептическим некрозом мыщелка или головки бедра</li>
      <li>закрытым переломом шейки бедра со смещением отломков</li>
      <li>опухолевым процессом сустава</li>
      <li>врожденной аномалией развития сустава</li>
    </ul>

  </div>
{% endblock %}