{% extends 'main/layout.html' %} 
{% load static %}

{% block title %}
  Главная страница
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">

<div class="ultra-wide-video">
  <iframe 
    src="https://www.youtube.com/embed/vtgm5PS5fN0?autoplay=1&mute=1&loop=1&playlist=vtgm5PS5fN0&start=2&controls=0&rel=0&modestbranding=1&showinfo=0" 
    frameborder="0" 
    allow="autoplay; encrypted-media" 
    allowfullscreen>
  </iframe>
</div>
<div class="about-container">
  <h1>ЭНДОПРОТЕЗИРОВАНИЕ В БЕЛАРУСИ</h1>
  <h2>Кому показано эндопротезирование?</h2>
  <ul>
    <li>первичным остеоартритом сустава 3-4 стадии с выраженным болевым синдромом, нарушением функции сустава и деформацией конечности;</li>
    <li>вторичным остеоартритом сустава 3-4 стадии (посттравматический остеоартрит, ревматоидный полиартрит, подагра и т.д.);</li>
    <li>асептическим некрозом мыщелка или головки бедра;</li>
    <li>закрытым переломом шейки бедра со смещением отломков;</li>
    <li>опухолевым процессом сустава;</li>
    <li>врожденной аномалией развития сустава.</li>
  </ul>
  <h2>Есть ли возрастные ограничения?</h2>
  <p>Как таковых возрастных ограничений для эндопротезирования сустава нет. В зависимости от возраста могут использоваться эндопротезы цементной или бесцементной фиксации. Может быть использован эндопротез головки бедра.
  </p>
  <h2>Всем ли подходит малоинвазивный метод?</h2>
  <p>Малоинвазивная техника эндопротезирования сустава подходит не всем пациентам.</p>
  <h2>Как проходит подготовка к эндопротезированию?</h2>
  <p>Перед операцией по эндопротезированию сустава пациент проходит всестороннее обследование:</p>
  <ul>
    <li>лабораторные анализы;</li>
    <li>электрокардиограмма (УЗИ сердца по показаниям);</li>
    <li>фиброгастроскопия желудка;</li>
    <li>УЗИ сосудов нижних конечностей;</li>
    <li>флюорография органов грудной клетки;</li>
    <li>рентгенограммы сустава, который будет протезироваться;</li>
    <li>осмотр терапевта, стоматолога, гинеколога (женщины), невролога.</li>
  </ul>
  <p>Проводится санация всех очагов хронической инфекции. Если пациент имеет избыточный вес, врач может предложить похудеть, чтобы снизить нагрузку на протез.</p>
  <p>Также проводится обучение пользованию костылями и отработка навыков правильной ходьбы с дополнительными средствами опоры без нагрузки на оперированную ногу, а также повышение тонуса центральной нервной системы и улучшение состояния сердечно-сосудистой и дыхательной систем организма. В предоперационный период также проводят процедуры по улучшению трофики тканей и укреплению мышц противоположной конечности, на которую после операции будет приходиться повышенная нагрузка.</p>
  <h2>Сколько длится операция и под какой анестезией?</h2>
  <p>Операция по эндопротезированию сустава в среднем длится 1,5-2 часа. Операция проводится под общей анестезией или спинномозговой. Вид анестезии выбирает врач-анестезиолог после осмотра пациента.
  </p>
  <h2>Сколько дней пациент находится в клинике под наблюдением?</h2>
  <p>Отправляясь на эндопротезирование важно учесть, что после операции пациент находится в клинике под наблюдением врача около 10-14 дней.

  Если пациент проживает за границей, то как он наблюдается доктором в послеоперационный период по возвращению домой? Нужны ли повторные визиты и через какой промежуток времени?

  После выписки пациента из стационара и возвращению домой он имеет возможность в любой удобный для него момент связаться с врачом по телефону или через интернет. Выслать контрольные рентгенограммы протезированного сустава по электронной почте.</p>
  <h2>Есть гарантия на протезы? Срок службы протеза?</h2>
  <p>Существуют эндопротезы различных производителей. Гарантии на протез нет.</p>
  <h2>Срок службы установленного эндопротеза зависит от многих факторов:</h2>
  <ul>
    <li>правильности выбора модели эндопротеза и установки во время операции;</li>
    <li>образа жизни пациента после операции (двигательная активность, подъём тяжестей и т.д.);</li>
    <li>масса тела пациента;</li>
    <li>наличия хронических очагов инфекции в организме пациента.</li>
  </ul>
  <h2>Период восстановления и нужно ли проходить реабилитацию в специализированных учреждениях?</h2>
  <p>Период восстановления у пациентов после эндопротезирования сустава различный. В среднем до 6 месяцев. Существуют специализированные отделения реабилитации, куда пациент переводится после выписки из стационара. Там он получает интенсивную физиотерапию, проводятся занятия лечебной физкультуры.

  Если у Вас остались вопросы по эндопротезированию, вы можете обратиться на прием к врачу-травматологу поликлиники по предварительной записи через регистратуру по телефону: (8 01772) 55-7-33, (8 01772) 57-6-48.</p>
  <h2>МИНСКАЯ ОБЛАСТНАЯ
  КЛИНИЧЕСКАЯ БОЛЬНИЦА
  </h2>
  <a href="tel:80177255733" class="service-phone">
              +375 (17) 265-20-04 – «горячая» линия
  </a>
</div>

{% endblock %}