{% extends 'main/layout.html' %} 
{% load static %}

{% block title %}Наши специалисты{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/specialists.css' %}">
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">
<div class="about-container">
  <h1>Наши специалисты</h1>
  {% if specialists %}
    <div class="specialist-list">
      {% for specialist in specialists %}
        <div class="specialist-card">
          {% if specialist.photo %}
            <div class="specialist-photo">
              <img src="{{ specialist.photo.url }}" alt="{{ specialist.name }}">
            </div>
          {% endif %}
          <div class="specialist-info">
            <p class="specialist-position">{{ specialist.position }}</p>
            <p class="specialist-name"><strong>{{ specialist.name }}</strong></p>
            <p class="specialist-phone">{{ specialist.phone }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>У вас нет специалистов!</p>
  {% endif %}
</div>
{% endblock %}